@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

@import "./reset/remedy.css";

body {
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.header--main {
  display: flex;
}

.header--city {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  margin-right: 0.5rem;
}

.header--date {
  font-weight: 300;
  letter-spacing: -0.5px;
  font-size: 1rem;
}

.current--title {
  letter-spacing: -0.5px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1rem;
}

.current--temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.current--temp-big {
  font-size: 4rem;
  font-weight: 500;
  margin-left: 1rem;
}

.current--description {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.current-details {
  display: flex;
  justify-content: space-evenly;
}

.current-details--box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-details--detail {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.current-details--desc {
  font-size: 0.8rem;
  line-height: 0.7;
}

/* 
  ** Search input
*/
.search {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.search--header {
  margin-left: auto;
  padding-bottom: 2rem;
}

.search--btn__close {
  padding: 0.5rem 1rem;
  background-color: black;
  border: none;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 25px;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
}

.search--body {
  flex: 1;
  padding-top: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.search-input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border: 0;
  color: black;
  font-size: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-bottom: dotted 2px rgba(0,0,0,0.2);
  background-color: transparent;
}

.search-input::placeholder {
  color: black;
}

.suggestion-item {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  border: solid 2px rgba(0,0,0,0.1);
  padding: 0.5rem;
  border-radius: 0.5rem;
}